<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myself.mybatis_dao.IMybatisCityDao">

	<!-- 这样以后改了sql，就不需要去改java代码了 -->
	<!-- id表示select里的sql语句，resultClass表示返回结果的类型 -->
	<select id="calTotalCityNum" resultType="int">
		select count(1) from  city
	</select>
	
	<!-- parameterClass表示参数的内容 -->
	<!-- #表示这是一个外部调用的需要传进的参数，可以理解为占位符 -->
	<select id="selectCityById" parameterType="java.lang.String" resultType="com.myself.entity.City">
		select * from city
		<where>
			<if test="id != null and id !='' ">
				id = #{id,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	
	<!-- 注意这里的resultClass类型，使用Student类型取决于queryForList还是queryForObject -->
	<select id="selectStudentByDistrict" parameterType="com.myself.entity.City" resultType="com.myself.entity.City">
		select * from city
		<where>
			<if test="district != null and district !='' ">
				district = #{district}
			</if>
		</where>
	</select>


</mapper>